# fuzzywuzzy: a comparison of fuzzy string matching methods on people names

In [3]:
# !pip install fuzzywuzzy
from fuzzywuzzy import fuzz
import pandas as pd

import sys
sys.path.append('..')
from heritageconnector.utils import data_loaders

pd.options.mode.chained_assignment = None

In [26]:
loader = data_loaders.local_loader()
people_df = loader.load_mimsy_people_data()

people = people_df[people_df['GENDER'].isin(('M', 'F'))]
people[['TITLE_NAME', 'FIRSTMID_NAME', 'LASTSUFF_NAME', "SUFFIX_NAME", "HONORARY_SUFFIX"]] = people[['TITLE_NAME', 'FIRSTMID_NAME', 'LASTSUFF_NAME', "SUFFIX_NAME", "HONORARY_SUFFIX"]].fillna("")
people[['FIRSTMID_NAME', 'LASTSUFF_NAME']] = people[['FIRSTMID_NAME', 'LASTSUFF_NAME']].astype(str)
people.head(4)

,LINK_ID,PREFERRED_NAME,TITLE_NAME,FIRSTMID_NAME,LASTSUFF_NAME,SUFFIX_NAME,HONORARY_SUFFIX,GENDER,BRIEF_BIO,DESCRIPTION,...,NATIONALITY,OCCUPATION,WEBSITE,AFFILIATION,LINGUISTIC_GROUP,TYPE,REFERENCE_NUMBER,SOURCE,CREATE_DATE,UPDATE_DATE
1,10245,"Zenthon, Edward Rupert",,Edward Rupert,Zenthon,,,M,Y,REF: http://www.iwm.org.uk/collections/item/ob...,...,British,engineer,NaN,NaN,NaN,NaN,NaN,N,28-JAN-98,05-AUG-15
2,10269,"Troughton, John",,John,Troughton,,,M,Y,"1739 - Born in Corney, Cumbria, England; Appre...",...,English; British,mathematical instrument maker,NaN,NaN,NaN,NaN,NaN,N,28-JAN-98,06-NOV-18
3,1027,"Link, O Winston",,O Winston,Link,,,M,Y,NaN,...,American,photographer,NaN,NaN,NaN,NaN,NaN,N,08-JUN-96,07-NOV-19
4,1030,"Walton, Stanley V",,Stanley V,Walton,,,M,N,NaN,...,British,railway photographer,NaN,NaN,NaN,NaN,NaN,N,08-JUN-96,06-NOV-18

In [39]:
def compare_fuzz(row):
    pref_name = row['PREFERRED_NAME']
    join_name = row['TITLE_NAME'] + " " + row['FIRSTMID_NAME'] + " " + row['LASTSUFF_NAME']
    
    print(pref_name + " VS " + join_name)
    print(f"  ratio: {fuzz.ratio(pref_name, join_name)}")
    print(f"  partial_ratio: {fuzz.partial_ratio(pref_name, join_name)}")
    print(f"  token_sort_ratio: {fuzz.token_sort_ratio(pref_name, join_name)} ")
    print(f"  token_set_ratio: {fuzz.token_set_ratio(pref_name, join_name)} ")

In [40]:
for _, row in people.sample(50).iterrows():
    compare_fuzz(row)

Poulsen, Arnold VS  Arnold Poulsen
  ratio: 47
  partial_ratio: 64
  token_sort_ratio: 100
  token_set_ratio: 100
Roberts, David VS  David Roberts
  ratio: 50
  partial_ratio: 67
  token_sort_ratio: 100
  token_set_ratio: 100
Spooner, Paul VS  Paul Spooner
  ratio: 54
  partial_ratio: 70
  token_sort_ratio: 100
  token_set_ratio: 100
Marcet, Francois VS   Marcet, Francois
  ratio: 94
  partial_ratio: 100
  token_sort_ratio: 100
  token_set_ratio: 100
Syntax, Doctor VS  Doctor Syntax
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Oliver, George VS  George Oliver
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Knight, Geoffrey VS  Geoffrey Knight
  ratio: 56
  partial_ratio: 56
  token_sort_ratio: 100
  token_set_ratio: 100
Aslett, Alfred VS  Alfred Aslett
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Marsh, Fred VS  Fred Marsh
  ratio: 45
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Rissho II VS  Rissho II
  ratio: 95
  partial_ratio: 100
  token_sort_ratio: 100
  token_set_ratio: 100
Pease, Francis Gladheim VS  Francis Gladheim Pease
  ratio: 74
  partial_ratio: 74
  token_sort_ratio: 100
  token_set_ratio: 100
Birkbeck, George VS   Birkbeck, George
  ratio: 94
  partial_ratio: 100
  token_sort_ratio: 100
  token_set_ratio: 100
Schmalcalder, Charles Augustus VS  Charles Augustus Schmalcalder
  ratio: 57
  partial_ratio: 57
  token_sort_ratio: 100
  token_set_ratio: 100
Dollond, George VS  George Dollond
  ratio: 47
  partial_ratio: 64
  token_sort_ratio: 100
  token_set_ratio: 100
Thomson,  J H VS  J H Thomson
  ratio: 56
  partial_ratio: 58
  token_sort_ratio: 100
  token_set_ratio: 100
Vrolik, Gerardo VS  Gerardo Vrolik
  ratio: 53
  partial_ratio: 53
  token_sort_ratio: 100
  token_set_ratio: 100
Nernst, Walther Hermann VS  Walther Hermann Nernst
  ratio: 70
  partial_ratio: 70
  token_sort_ratio: 100
  token_set_ratio: 100
Ward, Richard VS  Richard Ward
  ratio: 62
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Heath, D.L. VS  D.L. Heath
  ratio: 45
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Dumas, Jean-Baptiste AndrÃ© VS  Jean-Baptiste AndrÃ© Dumas
  ratio: 77
  partial_ratio: 77
  token_sort_ratio: 100
  token_set_ratio: 100
Pearce, E Vernon VS  E Vernon Pearce
  ratio: 56
  partial_ratio: 56
  token_sort_ratio: 100
  token_set_ratio: 100
Chadwicke, John VS  John Chadwicke
  ratio: 60
  partial_ratio: 75
  token_sort_ratio: 100
  token_set_ratio: 100
Heyerdahl, Thor VS  Thor Heyerdahl
  ratio: 60
  partial_ratio: 75
  token_sort_ratio: 100
  token_set_ratio: 100
Brindley, H VS  H Brindley
  ratio: 73
  partial_ratio: 84
  token_sort_ratio: 100
  token_set_ratio: 100
Reynolds, Frank VS  Frank Reynolds
  ratio: 53
  partial_ratio: 70
  token_sort_ratio: 100
  token_set_ratio: 100
Pitt, William VS  William Pitt
  ratio: 62
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Berthoud, Ferdinand VS  Ferdinand Berthoud
  ratio: 53
  partial_ratio: 53
  token_sort_ratio: 100
  token_set_ratio: 100
Rathborne, Aaron VS  Aaron Rathborne
  ratio: 56
  partial_ratio: 72
  token_sort_ratio: 100
  token_set_ratio: 100
Wallis, T W VS  T W Wallis
  ratio: 55
  partial_ratio: 71
  token_sort_ratio: 100
  token_set_ratio: 100
Baxter, George VS  George Baxter
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Willis, Alfred VS  Alfred Willis
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Betts, John VS  John Betts
  ratio: 45
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Weyer VS   Weyer
  ratio: 83
  partial_ratio: 100
  token_sort_ratio: 100
  token_set_ratio: 100
Parker, Henry Perlee VS  Henry Perlee Parker
  ratio: 65
  partial_ratio: 65
  token_sort_ratio: 100
  token_set_ratio: 100
Holmes, Silas A VS  Silas A Holmes
  ratio: 53
  partial_ratio: 53
  token_sort_ratio: 100
  token_set_ratio: 100
Shaw, John VS  John Shaw
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Bell, Anthony VS  Anthony Bell
  ratio: 62
  partial_ratio: 62
  token_sort_ratio: 100
  token_set_ratio: 100
Lung Tze Wu VS   Lung Tze Wu
  ratio: 92
  partial_ratio: 100
  token_sort_ratio: 100
  token_set_ratio: 100
Schaefer, Edward VS  Edward Schaefer
  ratio: 50
  partial_ratio: 67
  token_sort_ratio: 100
  token_set_ratio: 100
James, A VS  A James
  ratio: 62
  partial_ratio: 77
  token_sort_ratio: 100
  token_set_ratio: 100
Malmstrom, T VS  T Malmstrom
  ratio: 75
  partial_ratio: 86
  token_sort_ratio: 100
  token_set_ratio: 100
Soth, Alec VS  Alec Soth
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Baron, Auguste Blaise VS  Auguste Blaise Baron
  ratio: 71
  partial_ratio: 71
  token_sort_ratio: 100
  token_set_ratio: 100
Chifflet, Jean-Jacques VS  Jean-Jacques Chifflet
  ratio: 59
  partial_ratio: 59
  token_sort_ratio: 100
  token_set_ratio: 100
Gimpel, LÃ©on VS  LÃ©on Gimpel
  ratio: 50
  partial_ratio: 67
  token_sort_ratio: 100
  token_set_ratio: 100
Eiselberg, Anton Freiherr von VS  Anton Freiherr von Eiselberg
  ratio: 66
  partial_ratio: 66
  token_sort_ratio: 100
  token_set_ratio: 100
Bedford, Francis VS  Francis Bedford
  ratio: 50
  partial_ratio: 50
  token_sort_ratio: 100
  token_set_ratio: 100
Weber, Audrey VS  Audrey Weber
  ratio: 54
  partial_ratio: 54
  token_sort_ratio: 100
  token_set_ratio: 100
Kanthack, Alfredo Antunes VS  Alfredo Antunes Kanthack
  ratio: 64
  partial_ratio: 64
  token_sort_ratio: 100
  token_set_ratio: 100
Steward, Glen VS  Glen Steward
  ratio: 54
  partial_ratio: 70
  token_sort_ratio: 100
  token_set_ratio: 100

### in heritageconnector

In [4]:
from heritageconnector.nlp.string_pairs import fuzzy_match

In [5]:
fuzzy_match("Poulsen, Arnold", "Arnold Poulsen", threshold=90)

True